.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*/variantFreq/*
data/*/variants/*
data/*/popAF/*
data/*/r/*
data/*/gwas_variance/*
data/HGDP1KG/*
data/*/raw/*
data/liftover/*
output/*
logs/*
.snakemake/