.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*/variantFreq/*
data/*/variants/*
data/*/popAF/*
data/*/r/*
data/*/gwas_variance/*
data/HGDP1KG/variants-raw/*
data/*/raw/*
data/liftover/*
data/ukbb/variants/*
data/HGDP1KG/variants-fliped/*
data/HGDP1KG/plink2-files/*
data/*/pruned_snps/*
output/*
logs/*
.snakemake/